.y1 {
	font-size: 14px;
	line-height: 32px;
}
.r1 {
	background-color: #F3F9FF;
	border: 1px solid #2671AC;
}
.y2 {
	font-size: 14px;
	color: #0262AE;
}
.y2Copy {
	font-size: 12px;
	color: #0262AE;
}
