/* Tabs Styles*/
.etabs {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-left: 10px;
}

.tab {
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: #eff3f8;
	border: solid 1px #DDD;
	border-bottom: none;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

.tab a {
	font-size: 14px;
	line-height: 2em;
	display: block;
	padding: 0 10px;
	outline: none;
}

.tab a:hover {
	text-decoration: underline;
}

.tab.active {
	background: #fff;
	padding-top: 3px;
	position: relative;
	top: 1px;
	border-color: #DDD;
	border-top: 2px solid #146fb8;
}

.tab a.active {
	font-weight: bold;
	
}

.tab-container .panel-container {
	background: #fff;
	padding: 10px;
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
}

.panel-container {
	margin-bottom: 10px;
}

.navFix{
	background:#FFF; 
	position:fixed; 
	left:10px; 
	top:0px;
	_position:absolute; 
	top:expression((offsetParent.scrollTop)+0); 
	z-index:2;
}