@charset "utf-8";

/*按钮菜单的样式*/
.bz-ui-menu { 
	position: absolute;
	border: 1px solid #aaaaaa;
	color: #222222;
	list-style: none;
	margin: 1px 0px 0px 0px;
	display: block;
	outline: none;
	padding: 3px;
	background-color:#FFF;
	display:none;
	z-index:999;
	white-space: nowrap;
}
.bz-ui-menu li { 
	margin: 0px;
	padding: 3px 3px 3px 5px;
	text-align: left;
	color:#00F;
	font-size:12px;
	line-height:16px;
}
.bz-ui-menu li:hover { 
	margin: 0px;
	padding: 3px 3px 3px 5px;
	text-align: left;
	background-color:#00F;
	color:#FFF;
	cursor:pointer;
}
/*********************************************/
.bz-message{
	border:0px;
	width:100%;
}
/*****************alert************************/
.bz-message td{
	padding:5px;
	vertical-align:middle;
}
.bz-message p{
	text-indent:2em;
	word-break : break-all;
	line-height:150%;
}
.bz-message-alert{
	background-image:url(alert/alert.png);
	background-repeat: no-repeat;
	background-position: center center;
	height:48px;
	width:48px;
}
.bz-message-ask{
	background-image:url(alert/ask.png);
	background-repeat: no-repeat;
	background-position: center center;
	height:48px;
	width:48px;
}
.bz-message-msg{
	background-image:url(alert/msg.png);
	background-repeat: no-repeat;
	background-position: center center;
	height:48px;
	width:48px;
}
.bz-message-error{
	background-image:url(alert/error.png);
	background-repeat: no-repeat;
	background-position: center center;
	height:48px;
	width:48px;
}
#bz-dialog-message{
	overflow:auto;
}
/*****************showPage*************************/
.modalFrame{
	margin:0;
	border:0;
	width:100%;
	height:100%;
	overflow:auto;
}
#bz-dialog-showPage{
	overflow:hidden;
}
/******************tip***********************/
.bz-tip{
	padding:10px 20px 10px 20px;
	background-color:#000;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	position:absolute;
	display: none;
	z-index: 999;
	-moz-opacity:0.7;
	opacity: .7;
	filter: Alpha(Opacity=70);
}
.bz-tip-div{
	display:none;
	position:absolute;
	min-width: 200px;
	max-width: 95%;
	z-index: 999;
	-moz-opacity:0.9;
	opacity: .9;
	filter: Alpha(Opacity=90);
}
.bz-tip-div h3{
	text-align: center;
	height:24px;
	padding: 3px;
	vertical-align:middle;
	font-weight: bold;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin:2px;
}
.bz-tip-div p{
	text-align: center;
	padding: 3px 10px 3px 10px;
}
.bz-gotop{
	width:40px;
	height:40px;
	position:absolute;
	border: 0;
	background-image:url(page/totop.gif);
	cursor: pointer;
}

