.abtn,.bbtn,.cbtn,.dbtn,.ibtn,.ubtn,.mbtn,.sbtn,.obtn,.lbtn,.new-dbtn,.new-sbtn,.green-sbtn,.green-btn,.gray-btn
	{
	color: #333;
	background: url(../images/btn_sprit.png) no-repeat 0 0;
	display: inline-block;
	_width: 35px;
	white-space: nowrap;
	outline: 0;
	text-decoration: none
}

.abtn b,.cbtn b,.dbtn b,.ibtn b,.ubtn b,.sbtn b,.obtn b,.new-dbtn b,.new-sbtn b,.green-sbtn b,.green-btn b,.gray-btn b
	{
	font-weight: 100;
	display: block; *
	display: inline-block;
	height: 37px;
	line-height: 37px;
	background: url(../images/btn_sprit.png) no-repeat right 0;
	text-decoration: none;
	text-align: center;
	cursor: pointer
}

.new-sbtn,.green-sbtn {
	background-position: 0 -918px;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	padding-left: 35px;
	position: relative;
	margin-right: 10px
}

.green-btn {
	background-position: 0 -1748px;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	position: relative;
	margin-right: 10px
}

.green-btn b {
	background-position: right -1748px;
	padding-right: 10px;
	height: 25px;
	line-height: 25px;
	color: #fff
}

.gray-btn {
	background-position: 0 -1832px;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	position: relative;
	margin-right: 10px
}

.gray-btn b {
	background-position: right -1832px;
	padding-right: 10px;
	height: 25px;
	line-height: 25px;
	color: #767b7e
}

.green-sbtn {
	background-position: 0 -1368px
}

.new-sbtn b,.green-sbtn b {
	background-position: right -918px;
	color: #fff;
	padding-right: 10px;
	height: 34px;
	line-height: 34px
}

.new-sbtn:hover {
	background-position: 0 -955px
}

.new-sbtn:hover b {
	background-position: right -955px
}

.new-sbtn:active {
	background-position: 0 -991px
}

.green-sbtn b {
	background-position: right -1368px
}

.new-dbtn {
	background-position: 0 -1028px;
	text-decoration: none;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	padding-left: 35px;
	position: relative;
	margin-right: 10px
}

.new-dbtn:hover b,.new-dbtn:hover,.new-dbtn:active b,.new-dbtn:active,.new-sbtn:hover b,.new-sbtn:active b
	{
	background-position: right -955px;
	text-decoration: none
}

.new-sbtn:active b {
	background-position: right -991px
}

.new-dbtn:hover {
	background-position: 0 -1065px
}

.new-dbtn:active {
	background-position: 0 -1101px
}

.new-dbtn b {
	background-position: right -1028px;
	color: #666;
	padding-right: 10px;
	height: 34px;
	line-height: 34px;
	text-decoration: none
}

.new-dbtn:hover b {
	background-position: right -1065px
}

.new-dbtn:active b {
	background-position: right -1101px
}

.new-dbtn em,.new-sbtn em {
	position: absolute;
	left: 10px;
	top: 8px
}

.bbtn b,.mbtn b {
	font-weight: 100;
	display: block;
	line-height: 28px;
	background: url(../images/btn_sprit.png) #F2F6FF no-repeat right 0;
	text-decoration: none;
	text-align: center;
	cursor: pointer
}

.img-dialog .bbtn b,.img-dialog .mbtn b {
	font-weight: 100;
	display: block;
	line-height: 28px;
	background: url(../images/btn_sprit.png) #000 no-repeat right -144px;
	text-decoration: none;
	text-align: center;
	cursor: pointer
}

.lbtn {
	background: url(../images/btn_sprit.png) no-repeat 0 -601px;
	text-align: center;
	padding-left: 25px;
	position: relative
}

.lbtn b {
	color: #fff;
	font-weight: 100;
	display: block;
	line-height: 26px;
	line-height: 29px\9;
	height: 28px;
	background: url(../images/btn_sprit.png) no-repeat right -601px;
	text-decoration: none;
	padding-right: 15px;
	font-size: 12px;
	cursor: pointer
}

.abtn {
	font-size: 14px;
	padding-left: 47px;
	height: 37px;
	line-height: 37px
}

.abtn b {
	color: #333;
	padding-right: 47px
}

.bbtn {
	background-position: 0 -144px;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	position: relative;
	padding-left: 25px
}

.printbtn .bbtn {
	_padding-right: 10px
}

.mbtn {
	background-position: 0 -144px;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding-left: 16px;
	position: relative
}

.bbtn b {
	background-position: right -144px;
	color: #666;
	padding-right: 10px;
	height: 28px;
	line-height: 28px
}

.mbtn b {
	color: #666;
	padding-right: 26px;
	background-position: right -144px;
	height: 28px;
	line-height: 28px
}

.cbtn {
	font-size: 12px;
	padding-left: 20px;
	height: 42px;
	line-height: 41px
}

.cbtn b {
	color: #fff;
	padding-right: 20px
}

.dbtn {
	font-size: 14px;
	padding-left: 50px;
	height: 37px;
	line-height: 37px;
	margin: 0 4px
}

.dbtn b {
	color: #333;
	padding-right: 50px
}

.bterror-dialog .dbtn {
	padding-left: 20px
}

.bterror-dialog .dbtn b {
	padding-right: 20px;
	color: #3e3e3e;
	font-weight: 700
}

.ibtn {
	font-size: 14px;
	line-height: 40px;
	padding: 0 0 0 41px;
	position: relative
}

.ibtn b {
	color: #333;
	padding-right: 15px
}

.ibtn em {
	position: absolute;
	left: 10px;
	top: 8px
}

.obtn {
	font-size: 14px;
	line-height: 40px;
	padding: 0 0 0 51px;
	position: relative
}

.obtn b {
	color: #333;
	padding-right: 40px
}

.ubtn {
	display: block;
	font-size: 14px;
	padding-left: 50px;
	height: 42px;
	line-height: 41px;
	position: relative;
	width: 100px
}

.ubtn b {
	color: #fff;
	padding-right: 45px;
	height: 42px
}

.sbtn {
	background-position: 0 -440px;
	font-size: 14px;
	padding-left: 50px;
	height: 37px;
	line-height: 37px;
	position: relative
}

.sbtn b {
	background-position: right -440px;
	color: #fff;
	padding-right: 50px
}

.abtn:link,.bbtn:link,.dbtn:link,.ibtn:link,.cbtn:link,.mbtn:link,.sbtn:link,.obtn:link,.lbtn:link,.abtn:visited,.bbtn:visited,.dbtn:visited,.ibtn:visited,.cbtn:visited,.mbtn:visited,.sbtn:visited,.obtn:visited,.lbtn:visited,.abtn:hover,.bbtn:hover,.dbtn:hover,.ibtn:hover,.cbtn:hover,.mbtn:hover,.sbtn:hover,.obtn:hover,.lbtn:hover,.abtn:active,.bbtn:active,.dbtn:active,.ibtn:active,.cbtn:active,.mbtn:active,.sbtn:active,.obtn:active,.lbtn:active,.new-dbtn:hover,.new-sbtn:hover
	{
	zoom: 1;
	text-decoration: none
}

.abtn:hover,.ibtn:hover,.dbtn:hover {
	background-position: 0 -47px
}

.abtn:hover b,.ibtn:hover b,.dbtn:hover b {
	background-position: right -47px
}

.b-img-over .obtn {
	background-position: 0 -94px
}

.b-img-over .obtn b {
	background-position: right -94px
}

.abtn:active,.ibtn:active,.dbtn:active {
	background-position: 0 -94px
}

.abtn:active b,.ibtn:active b,.dbtn:active b {
	background-position: right -94px
}

.bbtn:hover,.bbtn-hover,.mbtn:hover {
	background-position: 0 -180px
}

.bbtn:hover b,.bbtn-hover b,.mbtn:hover b {
	background-position: right -180px
}

.bbtn:active,.bbtn-active,.mbtn:active {
	background-position: 0 -216px
}

.bbtn:active b,.bbtn-active b,.mbtn:active b {
	background-position: right -216px
}

.lbtn:hover,.lbtn-hover {
	background-position: 0 -639px
}

.lbtn:hover b,.lbtn-hover b {
	background-position: right -639px
}

.lbtn:active,.lbtn-active {
	background-position: 0 -678px
}

.lbtn:active b,.lbtn-active b {
	background-position: right -678px
}

.cbtn:hover {
	background-position: 0 -323px
}

.cbtn:hover b {
	background-position: right -323px
}

.cbtn:active {
	background-position: 0 -379px
}

.cbtn:active b {
	background-position: right -379px
}

.sbtn:hover {
	background-position: 0 -496px
}

.sbtn:hover b {
	background-position: right -496px
}

.sbtn:active {
	background-position: 0 -553px
}

.sbtn:active b {
	background-position: right -553px
}

.btn-icon {
	display: block;
	height: 20px;
	width: 20px;
	background: url(../images/btn_sprit.png) no-repeat
}

.icon-creat-file {
	background-position: -159px -20px
}

.icon-download {
	background-position: -159px -39px
}

.icon-share-qr {
	background-position: -208px -441px
}

.icon-share-save {
	background-position: -208px -465px
}

#shareqr b {
	padding-right: 1px;
	text-indent: -999em;
	display: block
}

.tui_icon,.share_icon,.sina_icon,.save_icon,.download_icon,.quick_save_icon
	{
	top: 5px;
	left: 10px;
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	background: url(../images/thumb_icon.png) no-repeat
}

.tui_icon {
	background-position: 0 -69px;
	top: -3px;
	left: -16px
}

.save_icon {
	background-position: -46px -116px
}

.quick_save_icon {
	background-position: -23px -116px
}

.download_icon {
	background-position: -22px -140px
}

.share_icon {
	background-position: -68px 4px
}

.share_icon {
	background-position: -68px 4px
}

.global-btn {
	color: #333;
	background: url(../images/btn_sprit.png) no-repeat 0 0;
	display: inline-block;
	_width: 35px;
	white-space: nowrap;
	outline: 0;
	text-decoration: none !important;
	background-position: 0 -144px;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding-left: 35px;
	position: relative;
	margin-right: 6px;
	vertical-align: middle;
	_margin: 6px 2px;
	cursor: pointer
}

.global-btn .ico {
	top: 5px;
	left: 10px;
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	background: url(../images/btn_icon.gif) no-repeat;
	background-position: -159px -234px;
	cursor: pointer
}

.global-btn .btn-val {
	font-weight: 100;
	display: block;
	line-height: 28px;
	background: url(../images/btn_sprit.png) #F2F6FF no-repeat right 0;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	background-position: right -144px;
	color: #666;
	padding-right: 10px;
	height: 28px;
	line-height: 28px
}

.global-btn:hover {
	background-position: 0 -180px
}

.global-btn:active {
	background-position: 0 -216px
}

.global-btn:hover .btn-val {
	background-position: right -180px
}

.global-btn:active .btn-val {
	background-position: right -216px
}

.global-btn-disable {
	opacity: .5;
	filter: alpha(opacity = 50)
}

.global-btn-disable,.global-btn-disable .ico,.global-btn-disable .btn-val
	{
	cursor: default;
	color: #666 !important
}

.global-btn-download .ico {
	background-position: -159px -39px
}

.global-btn-download:hover .icon-disable {
	background-position: -159px -39px !important
}

.global-btn-download:hover .ico {
	background-position: -182px -39px
}

.global-btn-delete .ico {
	background-position: -156px -130px
}

.global-btn-delete:hover .icon-disable {
	background-position: -156px -130px !important
}

.global-btn-delete:hover .ico {
	background-position: -179px -130px
}

.global-btn-transfer .ico {
	background-position: -159px -153px
}

.global-btn-transfer:hover .icon-disable {
	background-position: -159px -153px !important
}

.global-btn-transfer:hover .ico {
	background-position: -182px -153px
}

.thumb-grid {
	background: url(../images/gridFileIcon.png) 0 0;
	width: 92px;
	height: 92px
}

.grid-file-image {
	background-position: 0 0
}

.grid-file-visio {
	background-position: -766px 0
}

.grid-file-pdf {
	background-position: -919px 0
}

.grid-file-doc,.grid-file-word {
	background-position: -460px 0
}

.grid-file-excel {
	background-position: -307px 0
}

.grid-file-txt {
	background-position: -1072px 0
}

.grid-file-audio {
	background-position: -1837px 0
}

.grid-file-video {
	background-position: -1684px 0
}

.grid-file-ppt {
	background-position: -613px 0
}

.grid-file-ipa {
	background-position: -1531px 0
}

.grid-file-app {
	background-position: -1378px 0
}

.grid-file-zip {
	background-position: -154px 0
}

.grid-file-android {
	background-position: -1225px 0
}

.grid-file-bt {
	background-position: -1990px 0
}

.grid-folder-normal {
	background-position: -448px 0
}

.grid-folder-apps {
	background-position: -448px 0
}

.grid-folder-backup {
	background-position: -448px 0
}

.grid-folder-muti {
	background-position: -448px 0
}

.list-icon {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	background: url(../images/listIcon.png) -416px -80px;
	width: 26px;
	height: 22px
}

.list-file-pic {
	background-position: 0 -80px
}

.list-file-vsd {
	background-position: -32px -80px
}

.list-file-pdf {
	background-position: -64px -80px
}

.list-file-doc,.list-file-word,.list-file-docx {
	background-position: -96px -80px
}

.list-file-excel,.list-file-xls,.list-file-xlsx {
	background-position: -128px -80px
}

.list-file-txt {
	background-position: -160px -80px
}

.list-file-audio,.list-file-mus,.list-file-mp3 {
	background-position: -192px -80px
}

.list-file-video,.list-file-mov {
	background-position: -224px -80px
}

.list-file-ppt,.list-file-pptx {
	background-position: -256px -80px
}

.list-file-ipa {
	background-position: -288px -80px
}

.list-file-app,.list-file-dmg {
	background-position: -320px -80px
}

.list-file-zip,.list-file-rar {
	background-position: -352px -80px
}

.list-file-dwg,.list-file-dws,.list-file-dwt,.list-file-dxf {
	background-position: 0 -102px
}

.list-file-apk {
	background-position: -384px -80px
}

.list-file-psd {
	background-position: -512px -80px
}

.list-file-epub {
	background-position: -416px -80px
}

.list-file-bt,.list-file-torrent {
	background-position: -448px -80px
}

.list-folder-normal {
	background-position: 0 0
}

.list-folder-apps {
	background-position: -38px 0
}

.list-folder-backup {
	background-position: -448px -80px
}

.list-folder-muti {
	background-position: -38px -24px
}

.global-icon-16 {
	display: inline-block;
	width: 26px;
	height: 22px;
	background: url(../images/sprite_list_icon.png) 9999px 9999px no-repeat;
	background-position: -421px -83px
}

.global-icon-16-multi {
	background-position: -43px -27px
}

.global-icon-16-shouchang {
	background-position: -202px -3px
}

.global-icon-16-yingyong_child,.global-icon-16-yingyong {
	background-position: -43px -3px
}

.global-icon-16-beifen {
	background-position: -121px -3px
}

.global-icon-16-doc,.global-icon-16-docx {
	background-position: -101px -83px
}

.global-icon-16-xls,.global-icon-16-xlsx {
	background-position: -133px -83px
}

.global-icon-16-ppt,.global-icon-16-pptx {
	background-position: -261px -83px
}

.global-icon-16-vsd {
	background-position: -37px -83px
}

.global-icon-16-pdf {
	background-position: -69px -83px
}

.global-icon-16-apk {
	background-position: -389px -83px
}

.global-icon-16-dws,.global-icon-16-dwt,.global-icon-16-dxf,.global-icon-16-dwg
	{
	background-position: -6px -105px
}

.global-icon-16-mmap {
	background-position: -37px -106px
}

.global-icon-16-xmind {
	background-position: -69px -106px
}

.global-icon-16-mm {
	background-position: -69px -106px
}

.global-icon-16-exe,.global-icon-16-msi,.global-icon-16-dmg {
	background-position: -325px -83px
}

.global-icon-16-ipa {
	background-position: -293px -83px
}

.global-icon-16-zip,.global-icon-16-rar {
	background-position: -357px -83px
}

.global-icon-16-psd {
	background-position: -517px -83px
}

.global-icon-16-key {
	background-position: -550px -83px
}

.global-icon-16-ai {
	background-position: -583px -83px
}

.global-icon-16-txt {
	background-position: -165px -83px
}

.global-icon-16-torrent {
	background-position: -453px -83px
}

.global-icon-16-dir {
	background-position: -5px -3px
}

.global-icon-16-jpg,.global-icon-16-jpeg,.global-icon-16-gif,.global-icon-16-bmp,.global-icon-16-png,.global-icon-16-jpe,.global-icon-16-cur,.global-icon-16-svg,.global-icon-16-svgz,.global-icon-16-tif,.global-icon-16-tiff,.global-icon-16-ico
	{
	background-position: -5px -83px
}

.global-icon-16-wma,.global-icon-16-wav,.global-icon-16-mp3,.global-icon-16-aac,.global-icon-16-ra,.global-icon-16-ram,.global-icon-16-mp2,.global-icon-16-ogg,.global-icon-16-aif,.global-icon-16-mpega,.global-icon-16-amr,.global-icon-16-mid,.global-icon-16-midi,.global-icon-16-m4a
	{
	background-position: -197px -83px
}

.global-icon-16-wmv,.global-icon-16-rmvb,.global-icon-16-mpeg4,.global-icon-16-mpeg2,.global-icon-16-flv,.global-icon-16-avi,.global-icon-16-3gp,.global-icon-16-mpga,.global-icon-16-qt,.global-icon-16-rm,.global-icon-16-wmz,.global-icon-16-wmd,.global-icon-16-wvx,.global-icon-16-wmx,.global-icon-16-wm,.global-icon-16-swf,.global-icon-16-mpg,.global-icon-16-mp4,.global-icon-16-mkv,.global-icon-16-mpeg,.global-icon-16-mov,.global-icon-16-asf
	{
	background-position: -229px -83px
}

.global-icon-62 {
	display: inline-block;
	width: 92px;
	height: 92px;
	background: url(../images/property_icon_101.png) 9999px 9999px no-repeat
		;
	background-position: -0px -0px
}

.global-icon-62-multi {
	
}

.global-icon-62-shouchang {
	background: url(../images/spritenew-f.png) 9999px 9999px no-repeat;
	background-position: -820px 0
}

.global-icon-62-yingyong_child,.global-icon-62-yingyong {
	background: url(../images/spritenew-f.png) 9999px 9999px no-repeat;
	background-position: -182px 0
}

.global-icon-62-beifen {
	background: url(../images/spritenew-f.png) 9999px 9999px no-repeat;
	background-position: -339px 0
}

.global-icon-62-doc,.global-icon-62-docx {
	background-position: -462px -0px
}

.global-icon-62-xls,.global-icon-62-xlsx {
	background-position: -308px -0px
}

.global-icon-62-ppt,.global-icon-62-pptx {
	background-position: -616px -0px
}

.global-icon-62-vsd {
	background-position: -770px -0px
}

.global-icon-62-pdf {
	background-position: -924px -0px
}

.global-icon-62-apk {
	background-position: -1225px -0px
}

.global-icon-62-dws,.global-icon-62-dwt,.global-icon-62-dxf,.global-icon-62-dwg
	{
	background-position: 0 -117px
}

.global-icon-62-mmap {
	background-position: -153px -117px
}

.global-icon-62-xmind {
	background-position: -306px -117px
}

.global-icon-62-mm {
	background-position: -460px -117px
}

.global-icon-62-exe,.global-icon-62-msi {
	background-position: -1378px -0px
}

.global-icon-62-dmg {
	background-position: -2602px -0px
}

.global-icon-62-ipa {
	background-position: -1540px -0px
}

.global-icon-62-zip {
	background-position: -154px -0px
}

.global-icon-62-rar {
	background-position: -2142px -0px
}

.global-icon-62-psd {
	background-position: -2294px -0px
}

.global-icon-62-key {
	background-position: -2447px -0px
}

.global-icon-62-ai {
	background-position: -2753px -0px
}

.global-icon-62-txt {
	background-position: -1072px -0px
}

.global-icon-62-torrent {
	background-position: -1990px -0px
}

.global-icon-62-dir {
	background: url(../images/spritenew-f.png) 9999px 9999px no-repeat;
	background-position: -24px 0
}

.global-icon-62-jpg,.global-icon-62-jpeg,.global-icon-62-gif,.global-icon-62-bmp,.global-icon-62-png,.global-icon-62-jpe,.global-icon-62-cur,.global-icon-62-svg,.global-icon-62-svgz,.global-icon-62-tif,.global-icon-62-tiff,.global-icon-62-ico
	{
	
}

.global-icon-62-wma,.global-icon-62-wav,.global-icon-62-mp3,.global-icon-62-aac,.global-icon-62-ra,.global-icon-62-ram,.global-icon-62-mp2,.global-icon-62-ogg,.global-icon-62-aif,.global-icon-62-mpega,.global-icon-62-amr,.global-icon-62-mid,.global-icon-62-midi,.global-icon-62-m4a
	{
	background-position: -1836px -0px
}

.global-icon-62-wmv,.global-icon-62-rmvb,.global-icon-62-mpeg4,.global-icon-62-mpeg2,.global-icon-62-flv,.global-icon-62-avi,.global-icon-62-3gp,.global-icon-62-mpga,.global-icon-62-qt,.global-icon-62-rm,.global-icon-62-wmz,.global-icon-62-wmd,.global-icon-62-wvx,.global-icon-62-wmx,.global-icon-62-wm,.global-icon-62-swf,.global-icon-62-mpg,.global-icon-62-mp4,.global-icon-62-mkv,.global-icon-62-mpeg,.global-icon-62-mov,.global-icon-62-asf
	{
	background-position: -1685px -0px
}

.global-icon-62-multi {
	background-position: -2902px -2px
}

.global-icon-transfer,.global-icon-download,.global-icon-delete,.global-icon-share-cancel,.global-icon-share-qr,.global-icon-checkbox
	{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/btn_icon.png) no-repeat;
	background-position: -421px -83px
}

.global-icon-transfer {
	background-position: -207px -299px
}

.global-icon-transfer:hover {
	background-position: -181px -153px
}

.global-icon-download {
	background-position: -208px -210px
}

.global-icon-download:hover {
	background-position: -182px -39px
}

.global-icon-share-cancel {
	background-position: -158px -254px
}

.global-icon-share-cancel:hover {
	background-position: -179px -254px
}

.global-icon-share-qr {
	background-position: -208px -441px
}

.global-icon-share-qr:hover {
	background-position: -230px -441px
}

.global-icon-delete {
	background-position: -205px -276px
}

.global-icon-delete:hover {
	background-position: -179px -130px
}

.global-icon-checkbox {
	width: 14px;
	height: 14px;
	line-height: 14px;
	font-size: 0;
	zoom: 1;
	background-position: -113px 0
}

.on .global-icon-checkbox {
	background-position: -113px -19px
}

.b-canvas {
	z-index: 899;
	background: #000;
	-ms-filter: "alpha(opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 0
}

.b-panel {
	position: absolute;
	left: 0;
	top: 0
}