@charset "utf-8";

.nav-list li .icon {
	height: 20px;
	width: 20px;
}
/*通知公告*/
.nav-list li .icon-speaker {
	background:url(../../images/bs_gray_icons/speaker.png) no-repeat center center;
}
.nav-list .active .icon-speaker,
.nav-list .hover .icon-speaker,
.nav-list .open .icon-speaker {
	background:url(../../images/bs_blue_icons/speaker.png) no-repeat center center;
}
/*站内消息*/
.nav-list li .icon-comment {
	background:url(../../images/bs_gray_icons/comment.png) no-repeat center center;
}
.nav-list .active .icon-comment,
.nav-list .hover .icon-comment,
.nav-list .open .icon-comment {
	background:url(../../images/bs_blue_icons/comment.png) no-repeat center center;
}
/*内参图片检索*/
.nav-list li .icon-picture {
	background:url(../../images/bs_gray_icons/picture.png) no-repeat center center;
}
.nav-list .active .icon-picture,
.nav-list .hover .icon-picture,
.nav-list .open .icon-picture {
	background:url(../../images/bs_blue_icons/picture.png) no-repeat center center;
}
/*内参文献检索*/
.nav-list li .icon-file {
	background:url(../../images/bs_gray_icons/file.png) no-repeat center center;
}
.nav-list .active .icon-file,
.nav-list .hover .icon-file,
.nav-list .open .icon-file {
	background:url(../../images/bs_blue_icons/file.png) no-repeat center center;
}
/*公文发文*/
.nav-list li .icon-briefcase {
	background:url(../../images/bs_gray_icons/briefcase.png) no-repeat center center;
}
.nav-list .active .icon-briefcase,
.nav-list .hover .icon-briefcase,
.nav-list .open .icon-briefcase {
	background:url(../../images/bs_blue_icons/briefcase.png) no-repeat center center;
}
/*公文传输与监控*/
.nav-list li .icon-facetime-video {
	background:url(../../images/bs_gray_icons/facetime-video.png) no-repeat center center;
}
.nav-list .active .icon-facetime-video,
.nav-list .hover .icon-facetime-video,
.nav-list .open .icon-facetime-video {
	background:url(../../images/bs_blue_icons/facetime-video.png) no-repeat center center;
}
/*公文查询*/
.nav-list li .icon-file-alt {
	background:url(../../images/bs_gray_icons/file-alt.png) no-repeat center center;
}
.nav-list .active .icon-file-alt,
.nav-list .hover .icon-file-alt,
.nav-list .open .icon-file-alt {
	background:url(../../images/bs_blue_icons/file-alt.png) no-repeat center center;
}
/*记者档案库*/
.nav-list li .icon-child {
	background:url(../../images/bs_gray_icons/child.png) no-repeat center center;
}
.nav-list .active .icon-child,
.nav-list .hover .icon-child,
.nav-list .open .icon-child {
	background:url(../../images/bs_blue_icons/child.png) no-repeat center center;
}
/*专家档案库*/
.nav-list li .icon-adult {
	background:url(../../images/bs_gray_icons/adult.png) no-repeat center center;
}
.nav-list .active .icon-adult,
.nav-list .hover .icon-adult,
.nav-list .open .icon-adult {
	background:url(../../images/bs_blue_icons/adult.png) no-repeat center center;
}
/*领导指示库*/
.nav-list li .icon-file-edit {
	background:url(../../images/bs_gray_icons/file-edit.png) no-repeat center center;
}
.nav-list .active .icon-file-edit,
.nav-list .hover .icon-file-edit,
.nav-list .open .icon-file-edit {
	background:url(../../images/bs_blue_icons/file-edit.png) no-repeat center center;
}
/*业务辅助*/
.nav-list li .icon-th-large {
	background:url(../../images/bs_gray_icons/th-large.png) no-repeat center center;
}
.nav-list .active .icon-th-large,
.nav-list .hover .icon-th-large,
.nav-list .open .icon-th-large {
	background:url(../../images/bs_blue_icons/th-large.png) no-repeat center center;
}
/*分社期刊下载*/
.nav-list li .icon-arrow-down {
	background:url(../../images/bs_gray_icons/arrow-down.png) no-repeat center center;
}
.nav-list .active .icon-arrow-down,
.nav-list .hover .icon-arrow-down,
.nav-list .open .icon-arrow-down {
	background:url(../../images/bs_blue_icons/arrow-down.png) no-repeat center center;
}
/*分社回执查询*/
.nav-list li .icon-list-alt {
	background:url(../../images/bs_gray_icons/list-alt.png) no-repeat center center;
}
.nav-list .active .icon-list-alt,
.nav-list .hover .icon-list-alt,
.nav-list .open .icon-list-alt {
	background:url(../../images/bs_blue_icons/list-alt.png) no-repeat center center;
}
/*发稿登记*/
.nav-list li .icon-stackoverflow {
	background:url(../../images/bs_gray_icons/stackoverflow.png) no-repeat center center;
}
.nav-list .active .icon-stackoverflow,
.nav-list .hover .icon-stackoverflow,
.nav-list .open .icon-stackoverflow {
	background:url(../../images/bs_blue_icons/stackoverflow.png) no-repeat center center;
}
span[class^="operate-span-icon"]{
	height: 30px;
	line-height: 30px;
	
}
/*更多*/
span.span-icon-more{
	background:url(../../images/bs_gray_icons/list.png) no-repeat left center;
}
span.span-icon-more:hover{
	background:url(../../images/bs_blue_icons/list.png) no-repeat left center;
}
/*新增*/
span.span-icon-add{
	background:url(../../images/bs_gray_icons/file-new.png) no-repeat left center;
}
span.span-icon-add:hover{
	background:url(../../images/bs_blue_icons/file-new.png) no-repeat left center;
}

.nav-list li .icon-dashboard {
	background:url(../../images/bs_gray_icons/dashboard.png) no-repeat center center;
}

.nav-list li .icon-text-width {
	background:url(../../images/bs_gray_icons/text-width.png) no-repeat center center;
}

.nav-list li .icon-desktop {
	background:url(../../images/bs_gray_icons/screen.png) no-repeat center center;
}

.nav-list li .icon-calendar {
	background:url(../../images/bs_gray_icons/calendar.png) no-repeat center center;
}

.nav-list li .icon-list {
	background:url(../../images/bs_gray_icons/list.png) no-repeat center center;
}

.nav-list li .icon-edit {
	background:url(../../images/bs_gray_icons/edit.png) no-repeat center center;
}

.nav-list li .icon-list-alt {
	background:url(../../images/bs_gray_icons/list-alt.png) no-repeat center center;
}

.nav-list li .icon-picture {
	background:url(../../images/bs_gray_icons/picture.png) no-repeat center center;
}

.nav-list li .icon-tag {
	background:url(../../images/bs_gray_icons/tag.png) no-repeat center center;
}

.nav-list li .icon-file-alt {
	background:url(../../images/bs_gray_icons/file-alt.png) no-repeat center center;
}

.nav-list .active .icon-dashboard,
.nav-list .hover .icon-dashboard,
.nav-list .open .icon-dashboard {
	background:url(../../images/bs_blue_icons/dashboard.png) no-repeat center center;
}

.nav-list .active .icon-text-width,
.nav-list .hover .icon-text-width,
.nav-list .open .icon-text-width {
	background:url(../../images/bs_blue_icons/text-width.png) no-repeat center center;
}

.nav-list .active .icon-desktop,
.nav-list .hover .icon-desktop,
.nav-list .open .icon-desktop {
	background:url(../../images/bs_blue_icons/screen.png) no-repeat center center;
}

.nav-list .active .icon-list,
.nav-list .hover .icon-list,
.nav-list .open .icon-list {
	background:url(../../images/bs_blue_icons/list.png) no-repeat center center;
}

.nav-list .active .icon-edit,
.nav-list .hover .icon-edit,
.nav-list .open .icon-edit {
	background:url(../../images/bs_blue_icons/edit.png) no-repeat center center;
}

.nav-list .active .icon-list-alt,
.nav-list .hover .icon-list-alt,
.nav-list .open .icon-list-alt {
	background:url(../../images/bs_blue_icons/list-alt.png) no-repeat center center;
}

.nav-list .active .icon-picture,
.nav-list .hover .icon-picture,
.nav-list .open .icon-picture {
	background:url(../../images/bs_blue_icons/picture.png) no-repeat center center;
}

.nav-list .active .icon-tag,
.nav-list .hover .icon-tag,
.nav-list .open .icon-tag {
	background:url(../../images/bs_blue_icons/tag.png) no-repeat center center;
}

.nav-list .active .icon-file-alt,
.nav-list .hover .icon-file-alt,
.nav-list .open .icon-file-alt {
	background:url(../../images/bs_blue_icons/file-alt.png) no-repeat center center;
}

.nav-list .active .icon-calendar,
.nav-list .hover .icon-calendar,
.nav-list .open .icon-calendar {
	background:url(../../images/bs_blue_icons/calendar.png) no-repeat center center;
}

.nav-list li .icon-angle-down {
	background:url(../../images/chevron-down_gray_14_14.png) no-repeat center center;
}

.nav-list .active .icon-angle-down {
	background:url(../../images/chevron-down_blue_14_14.png) no-repeat center center;
}

.nav-list li ul li .icon-angle-down,
.nav-list .active ul li .icon-angle-down,
.nav-list .open ul li .icon-angle-down {
	background:url(../../images/chevron-down_12_12.png) no-repeat center center;
}